.cardDetail{
    margin: 15px;
    max-width: 600px;
}

.cardDetail img{
    display: block;
    border-radius: 50%;
    margin-left: 25%;
}

.cardDetail p{
    display: flex;
    justify-content: space-between;
}