.Card {
    background-color: #333;
    color: whitesmoke;
    max-width: 300px;
    margin: 15px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
}

.Card img {
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Card h4 {
    font-size: 1.2em;
    padding-left: 15px;
    margin-bottom: 0;
}

.Card button{
    display: block;
    width: 100%;
    padding: 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.Stats {
    padding: 15px;
}

.Stats p{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}